<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdf.enjoylove.mapper.UserMapper">
    <select id="find" resultType="com.mdf.enjoylove.entity.User">
        select user_id as userId,user_name as userName from t_sys_user where user_id = 1
    </select>
</mapper>